.Modal {
    box-sizing: border-box;
	position: relative;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
	background: white;
	width: 700px;
	height: 450px;
    z-index: 100;
	overflow: scroll;
	margin-top: 20px;
	
}
.Triangle{
	width: 20px;
    height: 20px;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    top: 50%;
    left: 50%;
    margin-left: 3px;
    content: '';
    display: inline-block;
    transform: rotate(45deg);
	background: black;

}

.Modal::-webkit-scrollbar {
    display: none;
}







