.Modal {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  background: white;
  width: 620px;
  height: 370px;
  z-index: 1000;

  overflow: scroll;
  margin-top: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.Modal::-webkit-scrollbar {
  display: none;
}

.Triangle {
  background: white;
  position: absolute;
  top: 565px;
  left: 111px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);

  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  z-index: 4000;
}
