.Button 
{
    height: 34px;
    width: 91px;
    background-color: #8E7DCE;
    border: 0;
    color: white;

}
Button:focus { outline: none; }

.Input {
        width:442px;
        height: 32px;
        border: 0;
        border-bottom: 1px solid #B2B2B2;
        margin-bottom: 10px;
        margin-right: 20px;
        

}
Input:focus { outline: none; }

.Div {

    display:flex;
     flex-direction:row;
     margin-bottom: 0;
     margin-left: 10px;    
     padding: 0;
    }